# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.env

# React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
build/
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Temporary files and backups
*.tmp
*.swp
*~

# Python build files
build/
dist/
*.egg-info/
